{% extends "socialaccount/base.html" %}

{% block content %}
<div class="max-w-lg mx-auto my-10 bg-white p-8 rounded-xl shadow shadow-slate-300">
  <h1 class="text-4xl font-medium">Sign Up</h1>

  <p class="mt-4">
    You are about to use your {{ account.get_provider.name }} account to login to {{ site.name }}. As a final step,
    please complete the following form:
  </p>

  <form class="mt-8" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
    {% csrf_token %}
    {% for field in form %}
    <div>
      <label for="{{field.id_for_label}}">
        <p class="block text-sm font-medium text-gray-700">{{ field.label }}</p>
        <div class="mt-1">
          <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" id="{{ field.auto_id }}"
            class="mt-1 appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
          {% if field.errors %}
          <p class="text-red-500 mt-1">{{ field.errors|join:", " }}</p>
          {% endif %}
        </div>
      </label>
    </div>
    {% endfor %}


    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <button type="submit" class="mt-4 px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-500">
      Sign Up
    </button>
  </form>
</div>
{% endblock %}