{% extends "account/base.html" %}


{% block content %}
<div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h1 class="text-3xl font-bold mb-4">{% trans "Confirm E-mail Address" %}</h1>
    </div>
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}
        {% if can_confirm %}
        <p class="mb-4">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a
                href="mailto:{{ email }}" class="text-blue-500">{{ email }}</a> is an e-mail address for user {{
            user_display }}.{% endblocktrans %}</p>
        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">{% trans 'Confirm' %}</button>
        </form>
        {% else %}
        <p class="mb-4">{% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different
            account.{% endblocktrans %}</p>
        {% endif %}
        {% else %}
        {% url 'account_email' as email_url %}
        <p class="mb-4">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a
                href="{{ email_url }}" class="text-blue-500">issue a new e-mail confirmation request</a>.{%
            endblocktrans %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}