{% extends "account/base.html" %}

{% load account %}

{% block head_title %}Reset Password | WhisperSync{% endblock %}

{% block content %}

<div class="card text-center mx-auto my-5
" style="width: 500px;">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-outline mb-4">
              <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" id="{{ field.auto_id }}" class="form-control form-control-lg" required/>
              <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
              {% if field.errors %}
                <div class="alert alert-danger" role="alert">
                  {% for error in field.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary w-100">Reset Password</button>
        </form>
            <div class="d-flex justify-content-between mt-4">
                <a class="" href="{% url 'account_login' %}">Login</a>
                <a class="" href="{% url 'account_signup' %}">Register</a>
            </div>
        </div>
    </div>
</div>
  
{% endblock %}