{% extends 'main.html' %}

{% load tailwind_filters %}
{% load static %}

{% block content %}

<main class="home">
    <section class=" text-center">
        <div class="container">
            <h2>CONNECT WITH <span>DEVELOPERS</span></h2>
            <h2>FROM AROUND THE WORLD</h2>

        </div>
    </section>


    <section class="">
        <div class="container">
            <div class="grid grid-cols-3">

                {% for profile in profiles %}
                <div class="">
                    <div class="dev">
                        <a href="{% url 'user-profile' profile.id %}" class="">
                            <div class="">
                                <img class="" src="{{ profile.imageURL }}" alt="image" />
                                <div class="">
                                    <h3>{{profile.name}}</h3>
                                    <h5>{{profile.short_intro|slice:"60"}}</h5>
                                </div>
                            </div>
                            <p class="dev__info">{{profile.bio|slice:"150"}}</p>

                        </a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>

</main>

{% endblock content %}