{% extends 'main.html' %}

{% load tailwind_filters %}
{% load static %}

{% block content %}

<!-- Main Section -->
<main class="profile my-md">
    <div class="container">
        <div class="grid grid-cols-3">
            <div class="grid-cols-1">
                <div class="text-center">
                    <div class="">
                        <img class="" src="{{ profile.imageURL }}" />
                        <h2 class="">{{profile.name}}</h2>
                        <p class="">{{profile.short_intro}}</p>
                        <p class="">Based in {{profile.location}}</p>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="">
                    <h3 class="">About Me</h3>
                    <p class="">{{profile.bio}}</p>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}