{% extends "account/base.html" %}

{% load account %}


{% block content %}
  <div class="container my-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Confirm E-mail Address</h1>

            {% if confirmation %}

              {% if can_confirm %}
                <p class="card-text">
                    Please confirm that <a href="mailto:{{ confirmation.email_address.email }}">{{ confirmation.email_address.email }}</a> is an e-mail address for user {{ confirmation.email_address.user }}.
                </p>

                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary">Confirm</button>
                </form>
              {% else %}
                <p class="card-text">
                    Unable to confirm {{ confirmation.email_address.email }} because it is already confirmed by a different account.
                </p>
              {% endif %}

            {% else %}


              <p class="card-text">
                  This e-mail confirmation link expired or is invalid. Please <a href="{{ account_email }}">issue a new e-mail confirmation request</a>.
              </p>

            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
